{% extends 'dashboard/projects/base/project_base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'dashboard/css/projects/tasks/completed_tasks.css' %}">
<div class="container mt-4">
  <h3>Завершённые задачи</h3>
  {% if tasks %}
    <ul class="list-group">
      {% for task in tasks %}
        <li class="list-group-item">
          <strong>{{ task.title }}</strong> — проект: {{ task.project.title }}<br>
          Исполнитель: {{ task.assigned_to.get_full_name }}<br>
          Завершено<br>
          {% if task.submitted_file %}
            Финальный файл: <a href="{{ task.submitted_file.url }}">Скачать</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Пока нет завершённых задач.</p>
  {% endif %}
</div>
{% endblock %}
<script src="{% static 'dashboard/js/projects/tasks/completed_tasks.js' %}"></script>